* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Orbitron', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #212529;
}

.clock {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 2rem;
    font-weight: 300;
}


